<%- include("header") -%>


<h1>This is the about page</h1>

<p>ghsgfkSjhrsn nggjlzhldjzb.,bn ndzlzhejhjaW nkdskzbhyuw4jes jrsg.zdgnghjrsheg jgsgcbghkjl, kbzjlrliryhjry. bjchjzgsbmdvxb</p>

<%- include("footer") -%>
